/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
* {
  font-size: 99%;
}
body {
  min-height: calc(100vh - 500px);
  font-size: 98%;
  overflow-x: hidden;
}

:root {
  --white-color: #ffffff;
  --primary-color: #5bc1ac;
  --secondary-color: #5a6f80;
  --section-bg-color: #f0f8ff;
  --site-footer-bg-color: #44525d;
  --custom-btn-bg-color: #597081;
  --custom-btn-bg-hover-color: #5bc1ac;
  --dark-color: #000000;
  --p-color: #717275;
  --border-color: #e9eaeb;
  --npg-bg-color: #527081;
  --npg-bg-color-dark: #38444b;

  --h1-font-size: 52px;
  --h2-font-size: 46px;
  --h3-font-size: 32px;
  --h4-font-size: 28px;
  --h5-font-size: 24px;
  --h6-font-size: 22px;
  --p-font-size: 16px;
  --btn-font-size: 18px;
  --copyright-font-size: 14px;

  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

body {
  background-color: var(--white-color);
  overflow-y: visible !important;
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-semibold);
  letter-spacing: -1px;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
  letter-spacing: -2px;
}

h2 {
  color: var(--dark-color);
  font-size: var(--h2-font-size);
  letter-spacing: -2px;
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--dark-color);
  font-size: 1rem;
  font-weight: var(--font-weight-light);
}

.nav-item {
  color: var(--white-color) !important;
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-bold);
}

#pdf-link {
  font-size: 20px;
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  color: var(--white-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}
#index-section {
  overflow-y: hidden;
}

/*---------------------------------------
  NAVBAR     
-----------------------------------------*/
.site-navbar {
  /* overflow: hidden; */
  margin-bottom: 0px;
  z-index: 1999;
  position: relative;
  top: 0;
  width: 100%;
  padding: 0.4rem;
  background: var(--npg-bg-color);
  /* position: absolute; */
}
@media (max-width: 991.98px) {
  .site-navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media (max-width: 498px) {
  .site-navbar {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
}
.site-navbar .toggle-button {
  position: absolute;
  right: 0px;
}
.site-navbar .site-logo {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
.site-navbar .site-logo a {
  text-transform: uppercase;
  color: #000;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}
@media (max-width: 991.98px) {
  .site-navbar .site-logo {
    float: left;
    position: relative;
  }
}
.site-navbar .site-navigation.border-bottom {
  border-bottom: 1px solid white !important;
}
.site-navbar .site-navigation .site-menu {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}
.site-navbar .site-navigation .site-menu .active {
  color: #007bff !important;
}
.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
}
.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
}
.site-navbar .site-navigation .site-menu > li > a {
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px 0px;
  color: rgba(0, 0, 0, 0.7) !important;
  display: inline-block;
  text-decoration: none !important;
}
.site-navbar .site-navigation .site-menu > li > a:hover {
  color: #000 !important;
}
.site-navbar .site-navigation .site-menu > li.active > a {
  color: #000 !important;
}
.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}
.site-navbar .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px;
}
.site-navbar .site-navigation .site-menu .has-children > a:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "icomoon";
}
.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  border-top: 2px solid #007bff;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  display: none;
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #000 !important;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
  color: #007bff !important;
  background: #f8f9fa;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  padding: 9px 20px;
  display: block;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
  background: #f8f9fa;
  color: #ced4da;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
  content: "\e315";
  right: 20px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown,
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
  left: 100%;
  top: 0;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a,
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a,
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
  background: #f8f9fa;
  color: #ced4da;
}
.site-navbar .site-navigation .site-menu .has-children:hover > a,
.site-navbar .site-navigation .site-menu .has-children:focus > a,
.site-navbar .site-navigation .site-menu .has-children:active > a {
  color: #007bff;
}
.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}
.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}
.site-menu-toggle {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 38px;
  padding-right: 10px;
}
.mobile-menu {
  border: none;
}
.site-menu-toggle i,
.site-mobile-menu-close i {
  color: var(--white-color);
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  background: var(--npg-bg-color);
  height: 100%;
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #ced4da;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}
.site-mobile-menu .site-mobile-menu-body {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 0px 0px 0.1px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}
.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
.site-mobile-menu .site-nav-wrap a {
  padding: 10px 0px;
  display: block;
  position: relative;
  color: var(--white-color);
}
.site-mobile-menu .site-nav-wrap a:hover {
  /* text-decoration: underline; */
}
.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}
.site-mobile-menu .site-nav-wrap li .nav-link.active {
  color: #007bff;
}
.site-mobile-menu .site-nav-wrap li.active > a {
  color: #007bff;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icomoon";
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  border-bottom: 1px solid #44535e;
  /* padding-bottom: 8px; */
}
.site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 20px;
}
.site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  /* margin-left: 24px; */
}
.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
  background: #496573;
  padding: 5px 0px;
  /* border-radius: 0.375em; */
}
.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding: 5px 15px;
  font-size: 16px;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}
.site-mobile-menu .site-nav-wrap[data-class="social"] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em;
}
.site-mobile-menu .site-nav-wrap[data-class="social"] > li {
  width: auto;
}
.site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
  padding-left: 15px !important;
}

.sticky-wrapper {
  position: relative;
  z-index: 100;
  width: 100%;
  position: absolute;
  top: 0;
}
.sticky-wrapper .site-navbar {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.sticky-wrapper .site-navbar {
  background: #fff;
}
.sticky-wrapper .site-navbar ul li a {
  color: rgba(0, 0, 0, 0.7) !important;
}
.sticky-wrapper .site-navbar ul li a.active {
  color: #000 !important;
}
.sticky-wrapper.is-sticky .site-navbar {
  background: #fff;
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
}
.sticky-wrapper.is-sticky .site-navbar .site-logo a {
  color: #007bff;
}
.sticky-wrapper.is-sticky .site-navbar ul li a {
  color: #000 !important;
}
.sticky-wrapper.is-sticky .site-navbar ul li a.active {
  color: #007bff !important;
}
.sticky-wrapper .shrink {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
@media (max-width: 991.98px) {
  .sticky-wrapper .shrink {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .desktop-nav {
    display: none;
  }
  .site-menu-toggle {
    display: block;
  }
}
/*---------------------------------------
  END NAVBAR     
-----------------------------------------*/

/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding {
  padding: 0 100px;
}
@media (max-width: 992px) {
  .section-padding {
    padding: 0;
  }
}
.section-bg {
  /* background-color: var(--white-color); */
}

.section-overlay {
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.section-overlay + .container {
  position: relative;
}

/*---------------------------------------
  BIBLIOGRAPHY            
-----------------------------------------*/
.bibliography-section {
  margin: 0 0 100px;
}
@media (max-width: 577px) {
  .bibliography-section {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

.block_ {
  display: block;
  font-size: 1.41667em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
}
.block_1 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  line-height: 1.08;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
}
.block_2 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  line-height: 1.08;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_3 {
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.calibre {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0;
  /* margin-left: 5pt;
  margin-right: 5pt; */
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.calibre1 {
  font-style: italic;
  line-height: 1.2;
}
.calibre2 {
  line-height: 1.2;
  white-space: pre-wrap;
}

@page {
  margin-bottom: 5pt;
  margin-top: 5pt;
}

/*---------------------------------------
  TIMELINE        
-----------------------------------------*/
.time-line {
  position: relative;
}

.tl-timegroup-message {
  color: var(--dark-color) !important;
}

.tl-timemarker-text p {
  color: var(--dark-color) !important;
  letter-spacing: 0.1px !important;
  font-weight: bold;
}

.tl-headline-date {
  letter-spacing: 0.1px;
}

.england,
.north-east,
.south-east,
.caribbean {
  letter-spacing: 0.1px;
  color: var(--dark-color);
}

#expand-timeline {
  border: none;
  background-color: var(--white-color);
  position: absolute;
  left: 95%;
  top: 0;
  z-index: 10;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 15px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1), 0px 3px 3px -2px rgba(0, 0, 0, 0.05),
    0px 1px 8px 0px rgba(0, 0, 0, 0.03);
}

/*---------------------------------------
  CUSTOM BLOCK               
-----------------------------------------*/
.custom-block-wrap {
  background: var(--white-color);
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}

.custom-block-wrap:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.custom-block-body {
  padding: 30px;
}

.custom-block-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-block .custom-btn {
  border-radius: 0;
  display: block;
}

/*---------------------------------------
  CUSTOM ICON COLOR               
-----------------------------------------*/
.custom-icon {
  color: var(--secondary-color);
}

/*---------------------------------------
  CUSTOM LIST               
-----------------------------------------*/
.custom-list {
  margin-bottom: 0;
  padding-left: 0;
}

.custom-list-item {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*---------------------------------------
  CUSTOM TEXT BOX               
-----------------------------------------*/
.custom-text-box {
  color: var(--dark-color);
  background: var(--white-color);
  margin-bottom: 24px;
}

.custom-text-box p {
  font-size: 1.6rem;
  font-weight: var(--font-weight-light);
  color: #000;
  line-height: 1.7;
}

.custom-text-box-image {
  width: 333px;
  height: 450px;
  /* object-fit: cover; */
  box-shadow: 4px 7px 11px -2px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 4px 7px 11px -2px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 4px 7px 11px -2px rgba(0, 0, 0, 0.41);
}

@media (max-width: 1244px) {
  .section-padding {
    padding: 0;
  }
  .custom-text-box p {
    font-size: 1.4rem;
  }
}
@media (max-width: 1020px) {
  .custom-text-box p {
    font-size: 1.3rem;
  }
  .custom-text-box-image {
    width: 281px;
    height: 380px;
  }
}

@media screen and (max-width: 992px) {
  .custom-text-box-image {
    margin-bottom: 20px;
  }
}
@media (max-width: 577px) {
  #bache-intro-text {
    padding-bottom: 0;
  }
  .custom-text-box {
    padding: 0 10px;
  }
  .custom-text-box p {
    font-size: 1rem;
  }
  #index-view-book-link {
    padding-top: 0;
  }
  .book-link p {
    font-size: 20px !important;
  }
  .book-link-credit {
    font-size: 12px !important;
    text-align: center;
  }
}

.custom-text-box-icon {
  background: var(--section-bg-color);
  border-radius: var(--border-radius-large);
  color: var(--secondary-color);
  font-size: var(--h6-font-size);
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  line-height: 30px;
}

/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
  background: var(--secondary-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-normal);
  line-height: normal;
  padding: 15px 25px;
}

.navbar-expand-lg .navbar-nav .nav-link.custom-btn {
  color: var(--custom-btn-bg-color);
  margin-top: 8px;
  padding: 12px 25px;
}

.custom-btn:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.custom-border-btn {
  background: transparent;
  border: 2px solid var(--custom-btn-bg-color);
  color: var(--primary-color);
}

.navbar-expand-lg .navbar-nav .nav-link.custom-btn:hover,
.custom-border-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  border-color: transparent;
  color: var(--white-color);
}

/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/
.navbar {
  background: var(--npg-bg-color) !important;
  z-index: 9;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  color: var(--primary-color);
  font-size: var(--h6-font-size);
  font-weight: var(--font-weight-bold);
}

.navbar-brand span {
  display: inline-block;
  vertical-align: middle;
}

.navbar-brand small {
  color: var(--secondary-color);
  display: block;
  font-size: 10px;
  line-height: normal;
  text-transform: uppercase;
}

.logo {
  min-width: 200px;
  height: auto;
}

.navbar-expand-lg .navbar-nav .nav-link {
  margin-right: 0;
  margin-left: 0;
  padding: 20px;
  font-size: 80%;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.navbar-nav .nav-link {
  display: inline-block;
  color: var(--white-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-medium);
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  background: transparent;
  text-decoration: underline;
  color: var(--white-color);
}

.dropdown-menu {
  position: relative;
  opacity: 1;
  -webkit-transition: all 1;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.dropdown:hover > .dropdown-menu {
  visibility: visible;
  opacity: 1;
}

.dropdown-menu:after {
  position: absolute; /* Sets the position absolute to the top div */
  top: 0;
  left: 35%; /* position the little arrow */
  margin-left: -15px;
  margin-top: -15px; /* Set margin equal to border px */
  width: 0;
  z-index: 1;
  height: 0;
  border-bottom: solid 15px #496573; /* Creates the arrow pointing up, to change to a notch instead user border-top */
  border-left: solid 15px transparent; /* Creates triangle effect */
  border-right: solid 15px transparent; /* Creates triangle effect */
}

.drop-nav {
  display: none;
  position: absolute;
  background: #496573;
  color: var(--white-color);
  font-size: var(--copyright-font-size);
  font-weight: 500;
  padding: 10px 50px 10px 15px;
  clear: both;
  font-weight: 500;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  border: 0;
  overflow: visible !important;
  border-radius: 4px;
}

.drop-nav.dark-nav {
  display: none;
  position: absolute;
  background: #496573;
}

.drop-nav li {
  list-style: none;
  font-weight: 500;
}

.drop-nav.doc-nav:after {
  content: ""; /* Required to display content */
  position: absolute; /* Sets the position absolute to the top div */
  top: 0;
  left: 28%; /* position the little arrow */
  margin-left: 5px;
  margin-top: -15px; /* Set margin equal to border px */
  width: 0;
  z-index: 1;
  height: 0;
  border-bottom: solid 15px #496573; /* Creates the arrow pointing up, to change to a notch instead user border-top */
  border-left: solid 15px transparent; /* Creates triangle effect */
  border-right: solid 15px transparent; /* Creates triangle effect */
}
.drop-nav.other-nav:after {
  content: ""; /* Required to display content */
  position: absolute; /* Sets the position absolute to the top div */
  top: 0;
  left: 28%; /* position the little arrow */
  margin-left: -5px;
  margin-top: -15px; /* Set margin equal to border px */
  width: 0;
  z-index: 1;
  height: 0;
  border-bottom: solid 15px #496573; /* Creates the arrow pointing up, to change to a notch instead user border-top */
  border-left: solid 15px transparent; /* Creates triangle effect */
  border-right: solid 15px transparent; /* Creates triangle effect */
}
.drop-nav.book-nav:after {
  content: ""; /* Required to display content */
  position: absolute; /* Sets the position absolute to the top div */
  top: 0;
  left: 28%; /* position the little arrow */
  margin-left: 10px;
  margin-top: -15px; /* Set margin equal to border px */
  width: 0;
  z-index: 1;
  height: 0;
  border-bottom: solid 15px #496573; /* Creates the arrow pointing up, to change to a notch instead user border-top */
  border-left: solid 15px transparent; /* Creates triangle effect */
  border-right: solid 15px transparent; /* Creates triangle effect */
}

.dropdown-item {
  display: inline-block;
  color: var(--white-color);
  font-size: var(--copyright-font-size);
  font-weight: var(--font-weight-medium);
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
.site-mobile-menu .site-nav-wrap .dropdown-item {
  background: #496573;
  margin-left: 24px;
  border-bottom: 1px solid #44535e;
  /* border-radius: 0.375rem; */
}

.dropdown-menu li:last-child .dropdown-item {
  padding-top: 0;
  border-bottom: none;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
  background: transparent;
  /* text-decoration: underline; */
  color: var(--white-color);
  color: #f9b343;
}

.navbar-nav li:hover .dropdown-menu {
  transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}

.dropdown-toggle::after {
  content: "";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-size: var(--copyright-font-size);
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  left: 2px;
  border: 0;
}

.dropdown-mobile:hover {
  background: #496573;
  color: #c8b301;
}

.dropdown-mobile a:hover {
  color: #f9b343;
}

.nav-item.dropdown-mobile.light-nav {
  background: #496573 !important;
}

@media screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    background: #496573;
  }
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--dark-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--dark-color);
  width: 30px;
  height: 2px;
  content: "";
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}

.down-caret {
  display: inline-block;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  width: 12px;
  height: 12px;
  transform: rotate(-315deg);
  position: relative;
  top: -5px;
  transition: all 0.25s ease-out;
}

.down-caret.caret-doc {
  margin-left: 74px;
}
.down-caret.caret-other {
  margin-left: 98.5px;
}
.down-caret.caret-book {
  margin-left: 137px;
}

.open-caret {
  transform: rotate(-134deg);
  transition: all 0.25s ease-out;
}

/*---------------------------------------
  SITE HEADER              
-----------------------------------------*/
.site-header {
  background-image: url("/images/bache-back.jpg");
  background-size: contain;
  padding: 50px 0;
  font-weight: bold;
}

.site-header h1,
.site-header p,
.site-header p a,
.site-header .social-icon-link {
  color: var(--white-color);
  font-size: var(--h3-font-size);
  letter-spacing: 5px;
  font-weight: 500;
  line-height: normal !important;
}

.site-header .social-icon {
  text-align: right;
}

.site-header .social-icon-link {
  background: transparent;
  width: inherit;
  height: inherit;
  line-height: inherit;
  margin-right: 15px;
}
@media (max-width: 768px) {
  .site-header {
    padding: 25px 0;
  }
  .site-header h1 {
    font-size: 20px;
  }
}

@media (max-width: 498px) {
  .site-header {
    padding: 5px 0;
  }
  .site-header h1 {
    font-size: 18px;
  }
}

@media (max-width: 467px) {
  .site-header {
    padding: 15px 0;
  }
  .site-header h1 {
    font-size: 18px;
  }
}

/*---------------------------------------
  BOOK LINK             
-----------------------------------------*/
.book-link {
  background: #82243f;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 4px 7px 11px -2px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 4px 7px 11px -2px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 4px 7px 11px -2px rgba(0, 0, 0, 0.41);
}
.book-link p {
  font-size: var(--h4-font-size);
  color: var(--white-color);
  margin-bottom: 0;
  font-weight: 500;
  letter-spacing: 5px;
}

.book-link-credit {
  font-style: italic !important;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: 500;
}

/*---------------------------------------
  CONTEMPORARY SECTION            
-----------------------------------------*/
.articles-section {
  margin: 100px 0;
}

.articles-section h2 {
  color: var(--dark-color);
  font-size: var(--h3-font-size);
  letter-spacing: 3px;
  margin-bottom: 50px;
}

.articles-list {
  list-style: none;
  line-height: 40px;
}

.articles-list li,
a {
  font-weight: var(--font-weight-normal);
  color: var(--npg-bg-color);
}

.articles-list a {
  color: var(--white-color);
}

.articles-list li::before {
  content: "•";
  color: var(--npg-bg-color);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.box {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  background: #f3f3f3;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  min-height: 200px;
  border: 1px #e4e4e4 solid;
  color: #fff;
}

.box .content-title {
  font-weight: var(--font-weight-semibold);
  color: var(--dark-color);
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*---------------------------------------
  BIOGRAPHY            
-----------------------------------------*/
.biography-section {
  margin: 0 0 100px;
}

.article-figure,
.article-link,
.article-hyperlink a {
  cursor: pointer;
  color: #006992;
}

.article-figure:hover,
.article-link:hover,
.article-hyperlink a:hover {
  color: #527081;
}

/*---------------------------------------
  TABLES          
-----------------------------------------*/
.table-container {
  min-height: calc(100vh - 95px);
}

/*---------------------------------------
  OTHER COLLECTIONS           
-----------------------------------------*/
.table-tabs a {
  font-weight: bold;
  color: #006992;
}

.table-tabs a:hover {
  color: #4c535a;
}

/*---------------------------------------
  BOOK INDEX         
-----------------------------------------*/
.book-index-link {
  cursor: pointer;
}
/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/

@media screen and (max-width: 991px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .navbar {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .navbar-expand-lg .navbar-nav {
    padding-bottom: 30px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 8px 20px;
  }

  .dropdown .dropdown-menu {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    margin-top: 5px;
    margin-bottom: 20px;
    /* left: 20px; */
  }

  .site-header .social-icon {
    text-align: left;
    margin-top: 5px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }
}
/*---------------------------------------
  NEWSPAPER            
-----------------------------------------*/
.masonry-grid.masonry-gallery {
  border-top: 0 !important;
}
