/*---------------------------------------
  CUSTOM             
-----------------------------------------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  width: 100%;
}

/*---------------------------------------
 BOOK          
-----------------------------------------*/
#canvas {
  width: 960px;
  margin: 100px auto;
}

#book-zoom {
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -ms-transition: -ms-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
}

.animated {
  -webkit-transition: margin-left 0.2s ease-in-out;
  -moz-transition: margin-left 0.2s ease-in-out;
  -o-transition: margin-left 0.2s ease-in-out;
  -ms-transition: margin-left 0.2s ease-in-out;
  transition: margin-left 0.2s ease-in-out;
}

.bache-book {
  margin-top: 20px;
  width: 900px;
  height: 600px;
}

.bache-book .page {
  width: 450px;
  height: 600px;
  background: white;

  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.bache-book .hard {
  background-image: url(../pics/covers.jpg);
}

.bache-book .p2 {
  background-position: -471px 0;
}

.bache-book .p28 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0.95, #fff),
    color-stop(1, #dadada)
  );
  background-image: -webkit-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image: -moz-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image: -ms-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image: -o-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image: linear-gradient(left, #fff 95%, #dadada 100%);
}

.bache-book .p29 {
  background-position: -942px 0;
}

.bache-book .p30 {
  background-position: -1413px 0;
}

.img-output {
  width: 900px;
  position: relative;
  margin: 0 auto;
}

.bache-book .page-wrapper {
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  -ms-perspective: 2000px;
  perspective: 2000px;
}

.bache-book .loader {
  background-image: url(../pics/loader.gif);
  width: 22px;
  height: 22px;
  position: absolute;
  top: 280px;
  left: 219px;
}

.bache-book .shadow {
  -webkit-transition: -webkit-box-shadow 0.5s;
  -moz-transition: -moz-box-shadow 0.5s;
  -o-transition: -webkit-box-shadow 0.5s;
  -ms-transition: -ms-box-shadow 0.5s;

  -webkit-box-shadow: 0 0 20px #ccc;
  -moz-box-shadow: 0 0 20px #ccc;
  -o-box-shadow: 0 0 20px #ccc;
  -ms-box-shadow: 0 0 20px #ccc;
  box-shadow: 0 0 20px #ccc;
}

.bache-book .tabs {
  width: 942px;
  height: 22px;
  top: -22px;
  position: relative;
  z-index: 1;
}

.bache-book .tabs > div {
  width: 461px;
  height: 22px;
  float: left;
}

.bache-book .tabs .left {
  text-align: left;
  margin-left: 10px;
}

.bache-book .tabs .right {
  text-align: right;
  margin-right: 10px;
}

.bache-book .tabs a {
  color: black;
  -webkit-border-image: url(../pics/tab-off.png) 5 20 5 20 repeat stretch;
  border-width: 5px 20px 5px 20px;
  display: inline-block;
  font: bold 11px arial;
  text-shadow: 1px 1px 0 #ddd;
  color: #333;
  line-height: 12px;
  text-decoration: none;
}

.bache-book .tabs .on,
.bache-book .tabs .on:hover {
  -webkit-border-image: url(../pics/tab-on.png) 5 20 5 20 repeat stretch;
  cursor: default;
}

.bache-book .tabs a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
  -webkit-border-image: url(../pics/tab-hover.png) 5 20 5 20 repeat stretch;
}

.fixed-height {
  width: 510px;
  height: 680px;
  max-width: none;
  /* border-radius: 6px; */
}
.cut-seam-even {
  transform: translate(10px, 0);
}

.cut-seam-odd,
.cut-seam-even#seam-38,
.cut-seam-even#seam-42,
.cut-seam-even#seam-46,
.cut-seam-even#seam-48,
.cut-seam-even#seam-50,
.cut-seam-even#seam-52,
.cut-seam-even#seam-54,
.cut-seam-even#seam-56,
.cut-seam-even#seam-58,
.cut-seam-even#seam-60,
.cut-seam-even#seam-62,
.cut-seam-even#seam-64 {
  transform: translate(-10px, 0);
}

.cut-seam-odd#seam-19,
.cut-seam-odd#seam-21,
.cut-seam-even#seam-30,
.cut-seam-even#seam-32,
.cut-seam-even#seam-34,
.cut-seam-even#seam-36,
.cut-seam-even#seam-44,
.cut-seam-even#seam-66 {
  transform: translate(-20px, 0);
}

.cut-seam-odd#seam-23,
.cut-seam-odd#seam-25,
.cut-seam-odd#seam-27,
.cut-seam-odd#seam-29,
.cut-seam-odd#seam-31,
.cut-seam-odd#seam-33,
.cut-seam-odd#seam-35,
.cut-seam-odd#seam-37,
.cut-seam-odd#seam-39,
.cut-seam-odd#seam-41,
.cut-seam-odd#seam-43 {
  transform: translate(-30px, 0);
}

.cut-seam-odd#seam-55,
.cut-seam-odd#seam-61,
.cut-seam-odd#seam-63 {
  transform: translate(5px, 0);
}

#even-label {
  float: left;
}
#odd-label {
  float: right;
}

area {
  cursor: pointer;
}

/*---------------------------------------
BOOK CONTROLS         
-----------------------------------------*/
.book-controls {
  background-color: #f7f7f7;
  /* box-shadow: 0 0 10px 5px #e1e5ee; */
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
  padding: 1.4rem;
  /* width: 24rem; */
  /* border-top: 4px solid gray; */
  box-shadow: 4px 7px 11px -2px rgb(0 0 0 / 41%);
}
.controls {
  text-align: center;
  font: 30px;
}
.zoom-controls {
  display: flex;
  justify-content: space-around;
}

.zoom-controls i {
  margin-right: 5px;
  font-size: 0.9rem;
}
#zoom-in-even,
#zoom-in-odd,
#zoom-out-even,
#zoom-out-odd,
#reset-even,
#reset-odd {
  display: inline-block;
  position: relative;
  color: #888;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  text-decoration: none;
  text-align: center;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 700;
  font-family: helvetica, arial, sans-serif;
  border-radius: 12px;
  border: 1px solid #bcbcbc;

  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);

  background-image: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(239, 239, 239, 1) 60%,
    rgba(225, 223, 226, 1) 100%
  );
  background-image: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(239, 239, 239, 1) 60%,
    rgba(225, 223, 226, 1) 100%
  );
  background-image: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(239, 239, 239, 1) 60%,
    rgba(225, 223, 226, 1) 100%
  );
  background-image: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(239, 239, 239, 1) 60%,
    rgba(225, 223, 226, 1) 100%
  );
  background-image: linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(239, 239, 239, 1) 60%,
    rgba(225, 223, 226, 1) 100%
  );
}

.pressed {
  transform: matrix(0.98, 0, 0, 0.98, 0, 0);
}

#reset-odd:active,
#reset-odd:active:after,
#reset-odd:active:before,
#reset-even:active,
#reset-even:active:after,
#reset-even:active:before,
#zoom-in-odd:active,
#zoom-in-odd:active:after,
#zoom-in-odd:active:before,
#zoom-out-odd:active,
#zoom-out-odd:active:after,
#zoom-out-odd:active:before,
#zoom-in-even:active,
#zoom-in-even:active:after,
#zoom-in-even:active:before,
#zoom-out-even:active,
#zoom-out-even:active:after,
#zoom-out-even:active:before {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#book-pagination {
  font-size: 20px;
  display: inline;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 15px;
}
.nav-btn {
  height: 40px;
  color: #fff;
  background: #22799e;
  text-decoration: none;
  font-family: "Roboto";
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  border: 1px solid #9ec1d2;
  border-radius: 100px;
  padding: 50px;
  transition-duration: 0.2s;
  display: inline-block;
  perspective: 1000px;
  transform-origin: center bottom 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.nav-btn:hover {
  background: #517182;
}

.pressed {
  transform: matrix(0.95, 0, 0, 0.95, 0, 0);
}

.nav-btn i {
  font-size: 18px;
}
@media (max-width: 1000px) {
  .nav-btn {
    width: 120px !important;
    height: 50px;
    margin: 0 15px;
  }
}
i {
  color: #888;
}
