@import url("https://fonts.googleapis.com/css?family=EB+Garamond");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

@font-face {
  font-family: SemplicitaPro;
  src: url("/fonts/semplicitapro/SemplicitaPro.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: SemplicitaPro;
  src: url("/fonts/semplicitapro/SemplicitaPro-Semibold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: SemplicitaPro;
  src: url("/fonts/semplicitapro/SemplicitaPro-Light.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: SemplicitaPro;
  src: url("/fonts/semplicitapro/SemplicitaPro-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: Proxima Nova;
  src: url("/fonts/ProximaNova/hinted-ProximaNova-Regular.woff") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: Proxima Nova;
  src: url("/fonts/ProximaNova/hinted-ProximaNova-Semibold.woff") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: Proxima Nova;
  src: url("/fonts/ProximaNova/hinted-ProximaNova-Medium.ttf") format("opentype");
  font-weight: 500;
}

.no-cssgrid,
.no-cssgrid #block-panels-mini-footer .pane-menu-menu-social-media .menu,
header .region-preface-right .inner,
.split-list,
.pane-page-header {
  *zoom: 1;
}
.no-cssgrid,
.no-cssgrid #block-panels-mini-footer .pane-menu-menu-social-media .menu:before,
header .region-preface-right .inner:before,
.split-list:before,
.pane-page-header:before,
.no-cssgrid .container:after,
.no-cssgrid #block-panels-mini-footer .pane-menu-menu-social-media .menu:after,
header .region-preface-right .inner:after,
.split-list:after,
.pane-page-header:after {
  content: " ";
  display: table;
  line-height: 0;
}
.no-cssgrid,
.no-cssgrid #block-panels-mini-footer .pane-menu-menu-social-media .menu:after,
header .region-preface-right .inner:after,
.split-list:after,
.pane-page-header:after {
  clear: both;
}
.sr-only,
#block-panels-mini-footer .pane-menu-menu-social-media span,
.front .page-title,
header .search-block-form .form-type-textfield label,
#block-menu-menu-social-media-abbrev span,
.collections-search .edan-search-form .edan-search-term label,
.flex-direction-nav a span,
.view .view-filters .description,
.view-slideshow .b-media-wrapper a span {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.view.block-emergency-text .field-content,
h2,
h3,
#block-panels-mini-footer h2,
aside .entity-paragraphs-item h2,
.aside .entity-paragraphs-item h2,
aside .entity-paragraphs-item.pane-menu-tree > a,
.aside .entity-paragraphs-item.pane-menu-tree > a,
.si-tabs h2,
.node-type-exhibit .group-app h2,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
li,
footer {
  margin: 0;
  padding: 0;
}
footer {
  display: block;
}

body {
  font-family: "SemplicitaPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
}

.view.block-emergency-text .field-content,
#block-panels-mini-footer h2,
aside .entity-paragraphs-item h2,
.aside .entity-paragraphs-item h2,
aside .entity-paragraphs-item.pane-menu-tree > a,
.aside .entity-paragraphs-item.pane-menu-tree > a,
.si-tabs h2,
.node-type-exhibit .group-app {
  margin: 0;
  color: #000000;
  font-weight: 500;
  font-family: "SemplicitaPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.view.block-emergency-text .field-content,
#block-panels-mini-footer h2 a,
aside .entity-paragraphs-item h2 a,
.aside .entity-paragraphs-item h2 a,
aside .entity-paragraphs-item.pane-menu-tree > a a,
.aside .entity-paragraphs-item.pane-menu-tree > a a,
.si-tabs h2 a,
.node-type-exhibit .group-app h2 a {
  color: #80243f;
  text-decoration: none;
}
.view.block-emergency-text .field-content a:visited,
h2 a:visited,
h3 a:visited,
#block-panels-mini-footer h2 a:visited,
aside .entity-paragraphs-item h2 a:visited,
.aside .entity-paragraphs-item h2 a:visited,
aside .entity-paragraphs-item.pane-menu-tree > a a:visited,
.aside .entity-paragraphs-item.pane-menu-tree > a a:visited,
.si-tabs h2 a:visited,
.node-type-exhibit .group-app {
  color: #80243f;
}
h1 a:focus,
.view.block-emergency-text .field-content a:focus,
h2 a:focus,
h3 a:focus,
#block-panels-mini-footer h2 a:focus,
aside .entity-paragraphs-item h2 a:focus,
.aside .entity-paragraphs-item h2 a:focus,
aside .entity-paragraphs-item.pane-menu-tree > a a:focus,
.aside .entity-paragraphs-item.pane-menu-tree > a a:focus,
.si-tabs h2 a:focus,
.node-type-exhibit .group-app h2 a:focus,
h4 a:focus,
h5 a:focus,
h6 a:focus {
  color: #80243f;
}
h1 a:hover,
.view.block-emergency-text .field-content a:hover,
h2 a:hover,
h3 a:hover,
#block-panels-mini-footer h2 a:hover,
aside .entity-paragraphs-item h2 a:hover,
.aside .entity-paragraphs-item h2 a:hover,
aside .entity-paragraphs-item.pane-menu-tree > a a:hover,
.aside .entity-paragraphs-item.pane-menu-tree > a a:hover,
.si-tabs h2 a:hover,
.node-type-exhibit .group-app h2 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #004a67;
}
h1 a:active,
.view.block-emergency-text .field-content a:active,
h2 a:active,
h3 a:active,
#block-panels-mini-footer h2 a:active,
aside .entity-paragraphs-item h2 a:active,
.aside .entity-paragraphs-item h2 a:active,
aside .entity-paragraphs-item.pane-menu-tree > a a:active,
.aside .entity-paragraphs-item.pane-menu-tree > a a:active,
.si-tabs h2 a:active,
.node-type-exhibit .group-app h2 a:active,
h4 a:active,
h5 a:active,
h6 a:active {
  color: #004a67;
}
h1 a.active,
.view.block-emergency-text .field-content a.active,
h2 a.active,
h3 a.active,
#block-panels-mini-footer h2 a.active,
aside .entity-paragraphs-item h2 a.active,
.aside .entity-paragraphs-item h2 a.active,
aside .entity-paragraphs-item.pane-menu-tree > a a.active,
.aside .entity-paragraphs-item.pane-menu-tree > a a.active,
.si-tabs h2 a.active,
.node-type-exhibit .group-app h2 a.active,
h4 a.active,
h5 a.active,
h6 a.active {
  font-weight: 400;
}
h2 a:after,
a h2:after,
h3 a:after,
#block-panels-mini-footer h2 a:after,
aside .entity-paragraphs-item h2 a:after,
.aside .entity-paragraphs-item h2 a:after,
aside .entity-paragraphs-item.pane-menu-tree > a a:after,
.aside .entity-paragraphs-item.pane-menu-tree > a a:after,
.si-tabs h2 a:after,
.node-type-exhibit .group-app h2 a:after,
a h3:after,
a #block-panels-mini-footer h2:after,
#block-panels-mini-footer a h2:after,
a aside .entity-paragraphs-item h2:after,
aside .entity-paragraphs-item a h2:after,
a .aside .entity-paragraphs-item h2:after,
.aside .entity-paragraphs-item a h2:after,
a aside .entity-paragraphs-item.pane-menu-tree > a:after,
aside a .entity-paragraphs-item.pane-menu-tree > a:after,
a .aside .entity-paragraphs-item.pane-menu-tree > a:after,
.aside a .entity-paragraphs-item.pane-menu-tree > a:after,
a .si-tabs h2:after,
.si-tabs a h2:after,
a .node-type-exhibit .group-app h2:after,
.node-type-exhibit .group-app a h2:after,
h4 a:after,
a h4:after,
h5 a:after,
a h5:after,
.beta a:after,
a .beta:after,
.gamma a:after,
a .gamma:after {
  color: inherit;
}
h2 a:after:hover,
a h2:after:hover,
h3 a:after:hover,
#block-panels-mini-footer h2 a:after:hover,
aside .entity-paragraphs-item h2 a:after:hover,
.aside .entity-paragraphs-item h2 a:after:hover,
aside .entity-paragraphs-item.pane-menu-tree > a a:after:hover,
.aside .entity-paragraphs-item.pane-menu-tree > a a:after:hover,
.si-tabs h2 a:after:hover,
.node-type-exhibit .group-app h2 a:after:hover,
a h3:after:hover,
a #block-panels-mini-footer h2:after:hover,
#block-panels-mini-footer a h2:after:hover,
a aside .entity-paragraphs-item h2:after:hover,
aside .entity-paragraphs-item a h2:after:hover,
a .aside .entity-paragraphs-item h2:after:hover,
.aside .entity-paragraphs-item a h2:after:hover,
a aside .entity-paragraphs-item.pane-menu-tree > a:after:hover,
aside a .entity-paragraphs-item.pane-menu-tree > a:after:hover,
a .aside .entity-paragraphs-item.pane-menu-tree > a:after:hover,
.aside a .entity-paragraphs-item.pane-menu-tree > a:after:hover,
a .si-tabs h2:after:hover,
.si-tabs a h2:after:hover,
a .node-type-exhibit .group-app h2:after:hover,
.node-type-exhibit .group-app a h2:after:hover,
h4 a:after:hover,
a h4:after:hover,
h5 a:after:hover,
a h5:after:hover,
.beta a:after:hover,
a .beta:after:hover,
.gamma a:after:hover,
a .gamma:after:hover {
  color: inherit;
}

#block-panels-mini-footer h2,
aside .entity-paragraphs-item h2,
.aside .entity-paragraphs-item h2,
aside .entity-paragraphs-item.pane-menu-tree > a,
.aside .entity-paragraphs-item.pane-menu-tree > a,
.si-tabs h2,
.node-type-exhibit .group-app h2,
.gamma {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 12px;
  margin-bottom: 1.2rem;
}

@media (min-width: 1366px) {
  footer h2 {
    font-size: 70.3125%;
  }
}

.region--footer {
  width: 96%;
  max-width: 1310px;
  margin-left: auto;
  margin-right: auto;
}

footer,
.region--postscript {
  -webkit-transition: all 300ms cubic-bezier(0.55, 0.085, 0, 0.99);
  transition: all 300ms cubic-bezier(0.55, 0.085, 0, 0.99);
}
.menu-open header,
.menu-open footer,
.region--postscript {
  -webkit-transform: translateX(-250px);
  -ms-transform: translateX(-250px);
  transform: translateX(-250px);
}

.footer {
  background: #414141;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#block-panels-mini-footer {
  background: #414141;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.004) 1px 1px 1px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 38px 0 !important;
  padding: 4.8rem 0;
}
#block-panels-mini-footer * {
  color: white;
}
#block-panels-mini-footer a {
  color: white;
}
#block-panels-mini-footer a:visited {
  color: white;
}
#block-panels-mini-footer a:focus {
  color: white;
}
#block-panels-mini-footer a:hover {
  color: #f5b333;
}
#block-panels-mini-footer a:active {
  color: #f5b333;
}
#block-panels-mini-footer p:last-child {
  margin-bottom: 0;
}
#block-panels-mini-footer ul {
  margin: 0;
}
#block-panels-mini-footer .wrapper {
  width: 100%;
  margin-top: 36px;
  margin-top: 3.6rem;
  padding-top: 24px;
  padding-top: 2.4rem;
  -webkit-box-shadow: 0 -1px 0 0 #707070;
  box-shadow: 0 -1px 0 0 #707070;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
#block-panels-mini-footer #mini-panel-footer_sub {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#block-panels-mini-footer .group-location h2 {
  position: relative;
  display: inline-block;
  padding-left: -6px;
  padding-left: -0.6rem;
  color: #707070;
}
#block-panels-mini-footer .group-location h2:before {
  content: "\f041";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: inherit;
  position: absolute;
  font-size: 1.5rem;
  top: 0;
  left: -20px;
  left: -2rem;
}
#block-panels-mini-footer .group-location h2:hover:before {
  color: inherit;
}
#block-panels-mini-footer .group-hours h2 {
  position: relative;
  display: inline-block;
  padding-left: -6px;
  padding-left: -0.6rem;
  color: #707070;
}
#block-panels-mini-footer .group-hours h2:before {
  content: "\f017";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: inherit;
  position: absolute;
  font-size: 1.5rem;
  top: -2px;
  top: -0.2rem;
  left: -30px;
  left: -3rem;
}
#block-panels-mini-footer .group-hours h2:hover:before {
  color: inherit;
}
#block-panels-mini-footer .group-location p,
#block-panels-mini-footer .group-hours p {
  margin: 0;
}
#block-panels-mini-footer h2,
#block-panels-mini-footer .gamma {
  margin: 0 0 12px;
  margin: 0 0 1.2rem;
}
#block-panels-mini-footer .si-logo-white {
  margin-top: 15px;
  margin-top: 1.5rem;
}
#block-panels-mini-footer .pane-custom a:after {
  color: #707070;
  content: "|";
  padding: 0 5px 0 10px;
  padding: 0 0.5rem 0 1rem;
}
#block-panels-mini-footer .pane-custom li:last-child a:after {
  content: "";
  padding: 0;
}
#block-panels-mini-footer .newsletter h2 {
  position: relative;
  display: inline-block;
  padding-left: 0;
  display: block;
}
#block-panels-mini-footer .newsletter h2:before {
  content: "\f003";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: inherit;
  position: absolute;
  font-size: 1.8rem;
  top: 15px;
  left: -2.5rem;
}
@media (max-width: 1023px) {
  #block-panels-mini-footer .newsletter h2:before {
    left: 15.5rem;
  }
}
@media (max-width: 992px) {
  #block-panels-mini-footer .newsletter h2:before {
    left: 8.5rem;
  }
}
@media (max-width: 768px) {
  #block-panels-mini-footer .newsletter h2:before {
    left: 1.5rem;
  }
}
@media (max-width: 450px) {
  #block-panels-mini-footer .newsletter h2:before {
    top: -20px;
  }
}
#block-panels-mini-footer .newsletter h2:hover:before {
  color: inherit;
}
#block-panels-mini-footer .newsletter h2:before {
  color: #707070;
}
#block-panels-mini-footer .newsletter h2:hover:before {
  color: #707070;
}
#block-panels-mini-footer .newsletter input[type="submit"] {
  border-radius: 0;
  background: #414141;
  -webkit-box-shadow: inset 0 0 0 4px #707070;
  box-shadow: inset 0 0 0 4px #707070;
  border: none;
  margin-left: 5px;
  margin-left: 0.5rem;
}
#block-panels-mini-footer .newsletter input {
  font-weight: 400;
  display: inline-block;
  height: 36px;
  height: 3.6rem;
}
#block-panels-mini-footer .newsletter .privacy {
  font-size: 12px;
  font-size: 1.2rem;
  max-width: 360px;
  margin: 12px auto 0;
  margin: 1.2rem auto 0;
}
#block-panels-mini-footer .newsletter .inner,
#block-panels-mini-footer .group-location .inner,
#block-panels-mini-footer .group-hours .inner {
  padding-left: 15px;
  padding-left: 1.5rem;
}
#block-panels-mini-footer #email {
  max-width: 250px;
  line-height: 36px;
  line-height: 3.6rem;
  color: #000000;
}
#block-panels-mini-footer .logos a {
  margin-right: auto;
  margin-left: auto;
}
#block-panels-mini-footer .pane-menu-menu-social-media {
  max-width: 350px;
  max-width: 35rem;
  margin: 24px auto;
  margin: 2.4rem auto;
}
#block-panels-mini-footer .pane-menu-menu-social-media a {
  font-size: 1.8rem;
}
#block-panels-mini-footer .pane-menu-menu-social-media .menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.no-cssgrid #block-panels-mini-footer .pane-menu-menu-social-media .menu li {
  float: left;
  width: 16.6%;
}
#block-panels-mini-footer .location p,
#block-panels-mini-footer .hours p {
  margin-left: 30px;
  margin-left: 3rem;
}
@media (min-width: 1024px) {
  #block-panels-mini-footer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  #block-panels-mini-footer .wrapper {
    -webkit-box-shadow: -1px 0 0 0 #707070;
    box-shadow: -1px 0 0 0 #707070;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    text-align: left;
    margin-top: 0;
    padding-top: 0;
  }
  .no-flexbox #block-panels-mini-footer .wrapper {
    float: left;
  }
  #block-panels-mini-footer .wrapper.pane-footer-sub {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #block-panels-mini-footer .logos {
    width: 31.42857%;
    max-width: 31.42857%;
    margin-right: 2.85714%;
  }
  #block-panels-mini-footer .group-location,
  #block-panels-mini-footer .group-hours {
    width: 31.42857%;
    max-width: 31.42857%;
    padding-left: 2.85714%;
  }
  #block-panels-mini-footer .group-location {
    margin-right: 2.85714%;
  }
  #block-panels-mini-footer .wrapper.pane-footer-sub {
    padding-left: 2.85714%;
    margin-top: 36px;
    margin-top: 3.6rem;
  }
  .no-flexbox #block-panels-mini-footer .wrapper.pane-footer-sub {
    margin-left: 34.28571%;
    clear: left;
  }
  #block-panels-mini-footer .logo-white,
  #block-panels-mini-footer .si-logo-white {
    margin-left: 0;
  }
  #block-panels-mini-footer .group-location h2,
  #block-panels-mini-footer .group-hours h2,
  #block-panels-mini-footer .newsletter label {
    padding-left: 0;
  }
  #block-panels-mini-footer .group-location h2:before,
  #block-panels-mini-footer .group-hours h2:before,
  #block-panels-mini-footer .newsletter label:before {
    left: -30px;
    top: 15px;
  }
  #block-panels-mini-footer .newsletter label:before {
    left: -40px;
  }
}
@media (min-width: 1366px) {
  #block-panels-mini-footer .logos {
    width: 14.28571%;
    max-width: 14.28571%;
  }
  #block-panels-mini-footer .group-location,
  #block-panels-mini-footer .group-hours {
    width: 22.85714%;
    max-width: 22.85714%;
  }
  #block-panels-mini-footer .group-hours {
    margin-right: 2.85714%;
  }
  #block-panels-mini-footer .pane-footer-sub.wrapper {
    margin: 0;
    -webkit-box-shadow: -1px 0 0 0 #707070;
    box-shadow: -1px 0 0 0 #707070;
    width: 31.42857%;
    max-width: 31.42857%;
    padding-left: 5.71429%;
  }
}
.front .block-border {
  padding-bottom: 12px;
  padding-bottom: 1.2rem;
  margin-bottom: 12px;
  margin-bottom: 1.2rem;
  border-bottom: 1px solid #b27d23;
}
.front .block-border h3,
.front .block-border #block-panels-mini-footer h2,
#block-panels-mini-footer .front .block-border h2,
.front .block-border aside .entity-paragraphs-item h2,
aside .entity-paragraphs-item .front .block-border h2,
.front .block-border .aside .entity-paragraphs-item h2,
.aside .entity-paragraphs-item .front .block-border h2,
.front .block-border aside .entity-paragraphs-item.pane-menu-tree > a,
aside .front .block-border .entity-paragraphs-item.pane-menu-tree > a,
.front .block-border .aside .entity-paragraphs-item.pane-menu-tree > a,
.aside .front .block-border .entity-paragraphs-item.pane-menu-tree > a,
.front .block-border .si-tabs h2,
.si-tabs .front .block-border h2,
.front .block-border .node-type-exhibit .group-app h2,
.node-type-exhibit .group-app .front .block-border h2 {
  color: #80243f;
}

@media screen and (min-width: 768px) {
  .hover-text .teaser-long .b-text-wrapper {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
  }
  .hover-text .teaser-long .inner {
    display: block;
    position: relative;
    background: none;
  }
  .hover-text .teaser-long .inner:hover .b-text-wrapper,
  .hover-text .teaser-long .inner.hover .b-text-wrapper {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .hover-text .teaser-long .inner:hover .b-text-wrapper *,
  .hover-text .teaser-long .inner.hover .b-text-wrapper * {
    color: white;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInUpHalf {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
    -ms-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@keyframes fadeInUpHalf {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
    -ms-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeinFromSide {
  0% {
    opacity: 0;
    -webkit-transform: translate(100%, -50%);
    -ms-transform: translate(100%, -50%);
    transform: translate(100%, -50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
}
@keyframes fadeinFromSide {
  0% {
    opacity: 0;
    -webkit-transform: translate(100%, -50%);
    -ms-transform: translate(100%, -50%);
    transform: translate(100%, -50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
}
@-webkit-keyframes fadeOutToSide {
  0% {
    opacity: 1;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(100%, -50%);
    -ms-transform: translate(100%, -50%);
    transform: translate(100%, -50%);
  }
}
@keyframes fadeOutToSide {
  0% {
    opacity: 1;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(100%, -50%);
    -ms-transform: translate(100%, -50%);
    transform: translate(100%, -50%);
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInDownHalf {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@keyframes fadeInDownHalf {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-webkit-keyframes menuDropdown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -15px, 0);
    -ms-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@keyframes menuDropdown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -15px, 0);
    -ms-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-webkit-keyframes menuArrow {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 15px, 0);
    -ms-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@keyframes menuArrow {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 15px, 0);
    -ms-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInDownCenter {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -100%, 0);
    -ms-transform: translate3d(-50%, -100%, 0);
    transform: translate3d(-50%, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}
@keyframes fadeInDownCenter {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -100%, 0);
    -ms-transform: translate3d(-50%, -100%, 0);
    transform: translate3d(-50%, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes scaleAndFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleAndFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes fadeInLine {
  0% {
    opacity: 0;
    height: 0;
    top: 50%;
  }
  100% {
    opacity: 1;
    height: 100%;
    top: 0;
  }
}
@keyframes fadeInLine {
  0% {
    opacity: 0;
    height: 0;
    top: 50%;
  }
  100% {
    opacity: 1;
    height: 100%;
    top: 0;
  }
}
@-webkit-keyframes view-more-pulse {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(231, 231, 231, 0.5);
  }
  100% {
    background-color: transparent;
  }
}
@keyframes view-more-pulse {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(231, 231, 231, 0.5);
  }
  100% {
    background-color: transparent;
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40% {
    -webkit-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  60% {
    -webkit-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40% {
    -webkit-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  60% {
    -webkit-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
}
@-webkit-keyframes outOneSide {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(66%, 0, 0);
    transform: translate3d(66%, 0, 0);
  }
  51% {
    -webkit-transform: translate3d(-173%, 0, 0);
    transform: translate3d(-173%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes outOneSide {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(66%, 0, 0);
    transform: translate3d(66%, 0, 0);
  }
  51% {
    -webkit-transform: translate3d(-173%, 0, 0);
    transform: translate3d(-173%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes bounceSide {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
  }
  60% {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
  }
}
@keyframes bounceSide {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
  }
  60% {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
  }
}
@-webkit-keyframes faveBounce {
  setStep(0),
  setStep(5) {
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
  }
  setStep(12) {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
  }
  setStep(17) {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
  setStep(22) {
    -webkit-transform: translate(-50%, -50%) scale(1.05);
    transform: translate(-50%, -50%) scale(1.05);
  }
  setStep(27) {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes faveBounce {
  setStep(0),
  setStep(5) {
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
  }
  setStep(12) {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
  }
  setStep(17) {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
  setStep(22) {
    -webkit-transform: translate(-50%, -50%) scale(1.05);
    transform: translate(-50%, -50%) scale(1.05);
  }
  setStep(27) {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.inline-list li {
  display: inline-block;
}
.float-list {
  *zoom: 1;
}
.float-list:before,
.float-list:after {
  content: " ";
  display: table;
  line-height: 0;
}
.float-list:after {
  clear: both;
}
.float-list li {
  display: block;
  float: left;
}
.img-list li img {
  max-width: 175px !important;
}
.split-list .sub-list li {
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
}
@media screen and (min-width: 768px) {
  .split-list {
    *zoom: 1;
  }
  .split-list:before,
  .split-list:after {
    content: " ";
    display: table;
    line-height: 0;
  }
  .split-list:after {
    clear: both;
  }
  .split-list .sub-list {
    width: 48.57143%;
    float: left;
    margin-right: 2.85714%;
  }
  .split-list .sub-list:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
  .split-list .sub-list:nth-child(2n + 1) {
    clear: both;
  }
}
.si-logo,
.si-logo-white,
.logo,
.logo-white {
  display: block;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
.si-logo {
  width: 112px;
  padding-top: 19px;
  background-image: url(/sites/all/themes/si_npg/images/bg/si-logo.png);
  background-image: url("data:image/svg+xml,  %3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 275 47' fill='rgb%28255%2C255%2C255%29'%3E%3Cstyle%3E.st0%7Bfill:%23fff%7D.st1%7Bfill:%230097d4%7D.st2%7Bfill:%23ffd400%7D%3C/style%3E%3Cpath class='st0' d='M77.3 16.9c-.8-2.7-1.9-5.6-5.5-5.6-3.3 0-4.7 2.4-4.7 4.7 0 3.1 2 4.5 5.4 6.3 3.3 1.7 7.3 3.7 7.3 8.4 0 4.4-3.8 8-9.4 8-1.7 0-3.1-.3-4.1-.6-1.1-.4-1.7-.7-2.1-.9-.3-.9-.9-4.5-1.1-6.6l1.2-.3c.7 2.6 2.6 6.9 6.9 6.9 3.2 0 5.1-2 5.1-5.1 0-3.1-2.3-4.6-5.5-6.3-2.7-1.4-7-3.6-7-8.3 0-4.1 3.3-7.5 8.7-7.5 1.9 0 3.7.5 5.3 1 .2 1.5.4 3.2.7 5.8l-1.2.1zM105.7 38v-1.1c2.5-.3 3-.4 3-3.4v-7.1c0-3-1.1-4.9-3.7-4.9-1.5 0-3.1.8-4.7 2.2.1.5.1 1 .1 1.8v8.3c0 2.7.4 2.9 2.7 3.2v1H94v-1.1c2.6-.3 3-.5 3-3.3v-7.3c0-3.1-1.1-4.9-3.7-4.9-1.7 0-3.3 1.1-4.6 2.2v10c0 2.8.3 3 2.4 3.3V38h-8.9v-1.1c2.8-.3 3.2-.5 3.2-3.3v-8.8c0-2.7-.1-2.9-2.6-3.3v-1c1.9-.3 4-.9 5.9-1.7v3.4c.9-.6 1.8-1.4 3.1-2.2 1.1-.7 2.1-1.1 3.5-1.1 2 0 3.9 1.3 4.7 3.5 1.2-.9 2.5-1.7 3.5-2.4.9-.6 2-1.1 3.2-1.1 3.3 0 5.4 2.3 5.4 6.5v8.2c0 2.8.3 3 2.8 3.3V38h-9.2zM117.1 38v-1.1c2.7-.3 3-.5 3-3.4v-8.7c0-2.6-.1-2.8-2.7-3.2v-1c2.2-.3 4.1-.9 6-1.7v14.6c0 2.9.3 3.1 3 3.4V38h-9.3zm2.2-24.8c0-1.3 1-2.2 2.2-2.2 1.2 0 2.1.9 2.1 2.2 0 1.1-.9 2.2-2.2 2.2-1.1-.1-2.1-1.1-2.1-2.2zM136.3 38c-.7.4-1.4.5-1.8.5-2.7 0-4.1-1.7-4.1-5V21.2h-2.9l-.2-.4 1.1-1.2h1.9v-3.1l2.8-2.8.6.1v5.8h4.8c.4.4.3 1.4-.3 1.7h-4.5v10.9c0 3.4 1.4 4.1 2.5 4.1s2-.4 2.6-.7l.4 1.1-2.9 1.3zM152.5 38v-1.1c2.5-.3 2.8-.5 2.8-3.3v-7c0-3.5-1.3-5.2-4.1-5.2-1.6 0-3.2.8-4.4 2.2v10.1c0 2.7.2 3 2.7 3.3v1h-9v-1.1c2.5-.2 2.9-.5 2.9-3.3V13.5c0-2.7-.1-2.9-2.9-3.1v-1c2-.3 4.6-1 6.2-1.5v14.2c1.5-1.5 3.8-3.1 6.1-3.1 3.4 0 5.8 2.2 5.8 7.2v7.4c0 2.8.3 3 2.8 3.3V38h-8.9zM174.5 24.5c-.8-2.5-2.3-4.2-4.4-4.2-1.6 0-2.8 1.3-2.8 2.9 0 1.9 1.7 2.9 3.6 3.7 3.2 1.3 5.3 2.8 5.3 5.8 0 3.9-3.6 5.8-7 5.8-2.2 0-4.1-.8-4.9-1.4-.3-.6-.7-3.5-.7-5l1.1-.2c.8 2.8 2.7 5.3 5.2 5.3 1.6 0 3-1.2 3-3 0-1.9-1.2-2.9-3.3-3.9-2.5-1.2-5.3-2.6-5.3-5.8 0-3 2.5-5.5 6.4-5.5 1.7 0 2.9.4 3.8.7.3 1 .8 3.5.9 4.5l-.9.3zM197.9 28.5c0 6.8-5 10.1-9.2 10.1-5.8 0-9.3-4.7-9.3-9.4 0-7 5.4-10.2 9.3-10.2 5.3 0 9.2 4.2 9.2 9.5zm-14.5-.7c0 5.3 2.3 9.3 5.8 9.3 2.6 0 4.8-1.9 4.8-7.7 0-5-2-9-5.7-9-2.6 0-4.9 2.6-4.9 7.4zM212.3 38v-1.1c2.5-.3 2.8-.6 2.8-3.5v-7.1c0-2.9-1-4.8-3.9-4.8-1.7 0-3.3 1.1-4.6 2.2v10c0 2.9.3 3 2.8 3.3v1h-9.2v-1.1c2.9-.3 3.1-.5 3.1-3.3v-8.8c0-2.7-.3-2.8-2.5-3.3v-1c2-.4 4-.9 5.9-1.7v3.4c.8-.6 1.8-1.3 2.8-2 1.2-.8 2.3-1.3 3.5-1.3 3.3 0 5.5 2.3 5.5 6.4v8.2c0 2.9.2 3 2.7 3.3V38h-8.9zM223.5 38v-1.1c2.7-.3 3-.5 3-3.4v-8.7c0-2.6-.1-2.8-2.7-3.2v-1c2.2-.3 4.1-.9 6-1.7v14.6c0 2.9.3 3.1 3 3.4V38h-9.3zm2.2-24.8c0-1.3 1-2.2 2.2-2.2 1.2 0 2.1.9 2.1 2.2 0 1.1-.9 2.2-2.2 2.2-1-.1-2.1-1.1-2.1-2.2zM248.4 38.5c-.6 0-1.5-.4-2-.8-.5-.6-.8-1.2-1-1.9-1.7 1.1-3.7 2.7-5 2.7-3 0-5.1-2.5-5.1-5.2 0-2.1 1.1-3.4 3.4-4.2 2.5-.8 5.6-2 6.6-2.8v-.8c0-3-1.4-4.8-3.6-4.8-.8 0-1.5.3-1.9.8-.5.6-.9 1.5-1.3 2.8-.2.7-.6 1-1.2 1-.8 0-1.9-.8-1.9-1.8 0-.6.6-1.1 1.4-1.7 1.2-.8 3.9-2.5 6.4-3 1.3 0 2.5.4 3.5 1.1 1.5 1.2 1.9 3 1.9 5.2V33c0 1.9.8 2.5 1.5 2.5.5 0 1.1-.2 1.5-.5l.4 1.1-3.6 2.4zm-3.1-10.6c-.9.5-2.9 1.4-3.8 1.8-1.7.8-2.6 1.6-2.6 3.1 0 2.2 1.7 3.3 3 3.3 1.1 0 2.6-.8 3.4-1.5v-6.7zM265.2 38v-1.1c2.5-.3 2.8-.6 2.8-3.5v-7.1c0-2.9-1-4.8-3.9-4.8-1.7 0-3.3 1.1-4.6 2.2v10c0 2.9.3 3 2.8 3.3v1h-9.2v-1.1c2.9-.3 3.1-.5 3.1-3.3v-8.8c0-2.7-.3-2.8-2.5-3.3v-1c2-.4 4-.9 5.9-1.7v3.4c.8-.6 1.8-1.3 2.8-2 1.2-.8 2.3-1.3 3.5-1.3 3.3 0 5.5 2.3 5.5 6.4v8.2c0 2.9.2 3 2.7 3.3V38h-8.9z'/%3E%3Cellipse transform='rotate(-22.5 23.101 23.5)' class='st1' cx='23.1' cy='23.5' rx='23.1' ry='23.1'/%3E%3Cpath class='st2' d='M39.2 28.9c-.9-1.8-2.8-2.9-4.8-3l11.5-2.4-11.5-2.4C36 19.8 38 19 40.1 19c2.5 0 4.7-3.1 3.3-5.5 0 0-.4 3.7-5.1 2.5-1.9-.6-4-.1-5.5 1.3l6.5-9.9-9.8 6.4c.2-2.1 1.1-4 2.5-5.6 1.7-1.8 1-5.5-1.6-6.2 0 0 2.3 2.9-1.9 5.4-1.8.9-2.9 2.8-3 4.8L23.1.7l-2.4 11.5c-1.3-1.6-2.1-3.6-2.1-5.7 0-2.5-3.1-4.7-5.5-3.3 0 0 3.7.4 2.5 5.1-.6 1.9-.1 4 1.3 5.5L7 7.3l5.2 8 1.2 1.8c-2.1-.2-4-1.1-5.6-2.5-1.9-1.7-5.6-1.1-6.3 1.6 0 0 2.9-2.4 5.4 1.9.9 1.8 2.8 2.9 4.8 3L.3 23.5l11.5 2.4C10.2 27.2 8.2 28 6.1 28c-2.5 0-4.7 3.1-3.3 5.5 0 0 .4-3.7 5.1-2.5 1.9.6 4 .1 5.5-1.3L7 39.6l9.8-6.4c-.2 2.1-1.1 4-2.5 5.5-1.8 1.8-1.1 5.6 1.6 6.2 0 0-2.4-2.9 1.9-5.4 1.8-.9 2.9-2.8 3-4.8l2.4 11.6 2.4-11.5c1.3 1.6 2.1 3.6 2.1 5.7 0 2.5 3.1 4.7 5.5 3.3 0 0-3.7-.4-2.5-5.1.6-1.9.1-4-1.3-5.5l9.8 6.4-3.4-5.2-3-4.6c2.1.2 4 1.1 5.5 2.5 1.8 1.8 5.6 1.1 6.2-1.5.1 0-2.9 2.3-5.3-1.9z'/%3E%3C/svg%3E");
}
a.si-logo-white {
  width: 143px;
  background-image: url(/sites/all/themes/si_npg/images/bg/si-logo-white.png);
  background-image: url("data:image/svg+xml,  %3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 187.4 48' fill='rgb%28255%2C255%2C255%29'%3E%3Cstyle%3E.st0%7Bfill:%23fff%7D%3C/style%3E%3Cpath class='st0' d='M72.5 19.8c-.4-1.6-1.1-3.3-3.2-3.3-1.9 0-2.7 1.4-2.7 2.7 0 1.8 1.2 2.6 3.1 3.6 1.9 1 4.3 2.1 4.3 4.9 0 2.6-2.2 4.6-5.5 4.6-1 0-1.8-.2-2.4-.4-.6-.2-1-.4-1.2-.5-.2-.5-.5-2.6-.7-3.8l.7-.2c.4 1.5 1.5 4 4 4 1.8 0 3-1.2 3-3s-1.4-2.7-3.2-3.7c-1.6-.8-4.1-2.1-4.1-4.8 0-2.4 1.9-4.4 5.1-4.4 1.1 0 2.2.3 3.1.6.1.9.2 1.8.4 3.4l-.7.3zM89 32v-.6c1.5-.1 1.7-.2 1.7-2v-4.1c0-1.7-.6-2.9-2.2-2.9-.9 0-1.8.5-2.8 1.3 0 .3.1.6.1 1v4.8c0 1.5.2 1.7 1.6 1.8v.7h-5.3v-.6c1.5-.1 1.7-.3 1.7-1.9v-4.2c0-1.8-.6-2.8-2.1-2.8-1 0-1.9.7-2.7 1.3v5.8c0 1.6.2 1.7 1.4 1.9v.5h-5.2v-.6c1.6-.1 1.8-.3 1.8-1.9v-5.1c0-1.6-.1-1.7-1.5-1.9v-.6c1.1-.2 2.3-.5 3.4-1v2c.5-.3 1.1-.8 1.8-1.3.6-.4 1.2-.7 2-.7 1.2 0 2.2.7 2.7 2 .7-.5 1.4-1 2-1.4.5-.3 1.2-.6 1.8-.6 1.9 0 3.1 1.4 3.1 3.8v4.7c0 1.6.2 1.7 1.6 1.9v.7H89zM95.6 32v-.6c1.5-.1 1.7-.3 1.7-2v-5.1c0-1.5-.1-1.6-1.5-1.9v-.6c1.3-.2 2.4-.5 3.5-1v8.5c0 1.7.2 1.8 1.7 2v.7h-5.4zM97 17.6c0-.7.6-1.3 1.3-1.3.7 0 1.2.5 1.2 1.3 0 .7-.5 1.3-1.3 1.3-.7 0-1.2-.6-1.2-1.3zM106.8 32c-.4.2-.8.3-1 .3-1.5 0-2.4-1-2.4-2.9v-7.2h-1.7l-.1-.2.7-.7h1.1v-1.8l1.6-1.6h.3v3.4h2.8c.2.2.1.8-.1 1h-2.6v6.3c0 2 .8 2.4 1.4 2.4.6 0 1.2-.2 1.5-.4l.2.6-1.7.8zM116.2 32v-.6c1.4-.1 1.6-.3 1.6-1.9v-4.1c0-2-.8-3-2.4-3-.9 0-1.9.5-2.6 1.3v5.9c0 1.6.1 1.7 1.6 1.9v.5h-5.2v-.6c1.5-.1 1.7-.3 1.7-1.9V17.8c0-1.5 0-1.7-1.7-1.8v-.6c1.2-.2 2.7-.6 3.6-.9v8.3c.9-.9 2.2-1.8 3.5-1.8 2 0 3.4 1.3 3.4 4.2v4.3c0 1.6.2 1.8 1.6 1.9v.6h-5.1zM129 24.2c-.5-1.5-1.3-2.4-2.5-2.4-.9 0-1.6.7-1.6 1.7 0 1.1 1 1.7 2.1 2.1 1.8.8 3.1 1.6 3.1 3.3 0 2.2-2.1 3.4-4.1 3.4-1.3 0-2.4-.5-2.8-.8-.2-.3-.4-2-.4-2.9l.6-.1c.4 1.6 1.5 3 3 3 .9 0 1.7-.7 1.7-1.7 0-1.1-.7-1.7-1.9-2.2-1.5-.7-3.1-1.5-3.1-3.4 0-1.7 1.5-3.2 3.7-3.2 1 0 1.7.2 2.2.4.2.6.5 2 .5 2.6l-.5.2zM142.6 26.5c0 4-2.9 5.9-5.3 5.9-3.4 0-5.4-2.7-5.4-5.4 0-4.1 3.1-5.9 5.4-5.9 3-.1 5.3 2.3 5.3 5.4zm-8.4-.4c0 3.1 1.4 5.4 3.4 5.4 1.5 0 2.8-1.1 2.8-4.5 0-2.9-1.2-5.2-3.3-5.2-1.6 0-2.9 1.5-2.9 4.3zM151 32v-.6c1.5-.1 1.6-.3 1.6-2v-4.1c0-1.7-.6-2.8-2.2-2.8-1 0-1.9.6-2.7 1.3v5.8c0 1.7.1 1.8 1.6 1.9v.5H144v-.6c1.7-.2 1.8-.3 1.8-1.9v-5.1c0-1.6-.1-1.6-1.5-1.9v-.6c1.2-.2 2.3-.5 3.4-1v2c.5-.4 1-.7 1.6-1.2.7-.4 1.3-.7 2-.7 1.9 0 3.2 1.4 3.2 3.7v4.7c0 1.7.1 1.8 1.5 1.9v.7h-5zM157.5 32v-.6c1.5-.1 1.7-.3 1.7-2v-5.1c0-1.5-.1-1.6-1.5-1.9v-.6c1.3-.2 2.4-.5 3.5-1v8.5c0 1.7.2 1.8 1.7 2v.7h-5.4zm1.3-14.4c0-.7.6-1.3 1.3-1.3.7 0 1.2.5 1.2 1.3 0 .7-.5 1.3-1.3 1.3-.6 0-1.2-.6-1.2-1.3zM171.9 32.3c-.4 0-.9-.2-1.2-.5-.3-.3-.5-.7-.6-1.1-1 .7-2.2 1.6-2.9 1.6-1.7 0-3-1.5-3-3 0-1.2.6-2 2-2.4 1.5-.5 3.3-1.2 3.8-1.6v-.4c0-1.8-.8-2.8-2.1-2.8-.5 0-.9.2-1.1.5-.3.3-.5.9-.7 1.6-.1.4-.4.6-.7.6-.4 0-1.1-.5-1.1-1.1 0-.4.3-.6.8-1 .7-.5 2.3-1.5 3.7-1.7.7 0 1.5.2 2 .7.9.7 1.1 1.7 1.1 3v4.6c0 1.1.4 1.5.9 1.5.3 0 .6-.1.9-.3l.2.6-2 1.2zm-1.8-6.2c-.5.3-1.7.8-2.2 1-1 .4-1.5.9-1.5 1.8 0 1.3 1 1.9 1.7 1.9.6 0 1.5-.4 2-.9v-3.8zM181.7 32v-.6c1.5-.1 1.6-.3 1.6-2v-4.1c0-1.7-.6-2.8-2.2-2.8-1 0-1.9.6-2.7 1.3v5.8c0 1.7.1 1.8 1.6 1.9v.5h-5.3v-.6c1.7-.2 1.8-.3 1.8-1.9v-5.1c0-1.6-.1-1.6-1.5-1.9v-.6c1.2-.2 2.3-.5 3.4-1v2c.5-.4 1-.7 1.6-1.2.7-.4 1.3-.7 2-.7 1.9 0 3.2 1.4 3.2 3.7v4.7c0 1.7.1 1.8 1.5 1.9v.7h-5zM40.9 29.7c-1-1.9-2.9-3.1-5-3.1L48 24l-12.1-2.5c1.7-1.4 3.8-2.2 6-2.2 2.7 0 5-3.3 3.5-5.8 0 0-.4 3.9-5.4 2.6-2-.6-4.3-.1-5.8 1.3L41 7l-10.4 6.8c.2-2.2 1.1-4.2 2.7-5.8 1.9-1.9 1.2-5.8-1.6-6.6 0 0 2.5 3.1-2 5.7-1.9 1-3.1 2.9-3.1 5L24 0l-2.5 12.1c-1.4-1.7-2.2-3.8-2.2-6 0-2.7-3.3-5-5.8-3.5 0 0 3.9.4 2.6 5.4-.6 2-.1 4.3 1.3 5.8L7 7l5.5 8.4 1.3 1.9c-2.2-.2-4.2-1.1-5.8-2.6-1.9-1.9-5.8-1.2-6.6 1.6 0 0 3.1-2.5 5.7 2 1 1.9 2.9 3.1 5 3.1L0 24l12.1 2.5c-1.7 1.4-3.8 2.2-6 2.2-2.7 0-5 3.3-3.5 5.8 0 0 .4-3.9 5.4-2.6 2 .6 4.3.1 5.8-1.3L7 41l10.4-6.8c-.2 2.2-1.1 4.2-2.6 5.8-1.9 1.9-1.2 5.8 1.6 6.6 0 0-2.5-3.1 2-5.7 1.9-1 3.1-2.9 3.1-5L24 48l2.5-12.1c1.4 1.7 2.2 3.8 2.2 6 0 2.7 3.3 5 5.8 3.5 0 0-3.9-.4-2.6-5.4.6-2 .1-4.3-1.3-5.8L41 41l-3.6-5.5-3.2-4.9c2.2.2 4.2 1.1 5.8 2.6 1.9 1.9 5.8 1.2 6.6-1.6 0 0-3.1 2.5-5.7-1.9z'/%3E%3C/svg%3E");
  padding-top: 37px;
  margin-top: 10px;
  margin-top: 1rem;
  color: #fff;
}
a.si-logo-white span {
  color: #fff;
}
.logo-white {
  width: 136px;
  background-image: url(/sites/all/themes/si_npg/images/bg/logo.png);
  background-image: url("data:image/svg+xml,  %3Csvg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 146 86'%3E%3Ctitle%3EArtboard 1%3C/title%3E%3Cpath d='M1.26 49.62v-21.2h4.4c4.31 0 8.18 1.48 8.18 6.27 0 4.06-2.58 6.89-8.15 6.89H3.94v8zM5.62 39.2C9 39.2 11 37.47 11 34.72s-2-3.89-4.68-3.89H3.94v8.37zM22 50a7.27 7.27 0 1 1 0-14.53A7.27 7.27 0 1 1 22 50m4.76-7.25A4.92 4.92 0 0 0 22 37.58c-2.83 0-4.82 2.18-4.82 5.26A5 5 0 0 0 22 48c2.86 0 4.82-2.1 4.82-5.21M32.09 49.62V35.84h2.46v2.07c.2-.67 1.37-2.41 3-2.41a4.38 4.38 0 0 1 2.35.64l-1 2.32a2.92 2.92 0 0 0-1.71-.62c-1.6 0-2.55 1.82-2.63 3v8.74zM43.56 49.62V37.91h-2.54v-2.04h2.54v-4.79h2.47v4.79h3.39v2.04h-3.39v11.71h-2.47zM51.3 49.62V35.84h2.46v2.07c.2-.67 1.37-2.41 3-2.41a4.38 4.38 0 0 1 2.35.64l-1 2.32a2.92 2.92 0 0 0-1.71-.62c-1.6 0-2.55 1.82-2.63 3v8.74zM71.55 48.16A9.27 9.27 0 0 1 65.48 50c-4.12 0-6-2.38-6-5 0-3.14 3.19-4.45 5.68-4.45a6.18 6.18 0 0 1 4 1.34v-1.68c0-1.51-1.15-2.63-3.42-2.63a9.93 9.93 0 0 0-3.84.81l-.81-1.85a11.42 11.42 0 0 1 4.79-1.06c4.51 0 5.66 2.13 5.66 5.32zm-2.38-4.09a5.62 5.62 0 0 0-3.67-1.4c-2.32 0-3.47 1.21-3.47 2.55s1.23 2.69 3.61 2.69a6.22 6.22 0 0 0 3.53-1zM74.52 31.56a1.68 1.68 0 0 1 1.74-1.74A1.64 1.64 0 0 1 78 31.56a1.66 1.66 0 0 1-1.71 1.71 1.69 1.69 0 0 1-1.74-1.71m.45 4.28h2.49v13.78H75zM82.04 49.62V37.91h-2.55v-2.04h2.55v-4.79h2.46v4.79h3.39v2.04H84.5v11.71h-2.46z' fill='%23231f20'/%3E%3Cpath fill='%235c6872' d='M46.72 8.39l.03 15.23h-2.69l.03-21.76L60.1 17.99l-.03-15.57h2.69l-.03 21.95L46.72 8.39zM77.84 22.16A9.27 9.27 0 0 1 71.76 24c-4.12 0-6-2.38-6-5 0-3.14 3.19-4.45 5.68-4.45a6.18 6.18 0 0 1 4 1.34v-1.68c0-1.51-1.15-2.63-3.42-2.63a9.94 9.94 0 0 0-3.84.81l-.81-1.85a11.43 11.43 0 0 1 4.79-1.06c4.51 0 5.66 2.13 5.66 5.32zm-2.38-4.09a5.62 5.62 0 0 0-3.67-1.4c-2.32 0-3.47 1.2-3.47 2.55s1.23 2.69 3.61 2.69a6.22 6.22 0 0 0 3.53-1zM82.03 23.62V11.91h-2.55V9.87h2.55V5.08h2.46v4.79h3.39v2.04h-3.39v11.71h-2.46zM89.35 5.56a1.68 1.68 0 0 1 1.74-1.74 1.64 1.64 0 0 1 1.71 1.74 1.66 1.66 0 0 1-1.71 1.71 1.69 1.69 0 0 1-1.74-1.71m.48 4.28h2.49v13.78h-2.5zM102.39 24a7.27 7.27 0 1 1 7.36-7.25 7.25 7.25 0 0 1-7.36 7.25m4.76-7.25a4.92 4.92 0 0 0-4.76-5.18c-2.83 0-4.82 2.18-4.82 5.26a5 5 0 0 0 4.76 5.17c2.86 0 4.82-2.1 4.82-5.21M121.85 23.62v-7.84c0-2.69-.73-4.06-3.22-4.06a5.3 5.3 0 0 0-3.7 1.74v10.16h-2.46V9.84h2.46v1.46a6.74 6.74 0 0 1 4.54-1.82c3.11 0 4.84 1.57 4.84 5.07v9.07zM138.8 22.16a9.27 9.27 0 0 1-6.08 1.84c-4.12 0-6-2.38-6-5 0-3.14 3.19-4.45 5.68-4.45a6.18 6.18 0 0 1 4 1.34v-1.68c0-1.51-1.15-2.63-3.42-2.63a10 10 0 0 0-3.84.81l-.81-1.85a11.43 11.43 0 0 1 4.79-1.06c4.51 0 5.66 2.13 5.66 5.32zm-2.38-4.09a5.62 5.62 0 0 0-3.67-1.4c-2.32 0-3.47 1.2-3.47 2.55s1.23 2.69 3.61 2.69a6.23 6.23 0 0 0 3.53-1zM142.28.66h2.46v22.96h-2.46zM55.89 70v-2.44h8.48c-.06 7.67-5 11-10.11 11a11 11 0 1 1 0-22 11.53 11.53 0 0 1 8 2.91l-1.4 2a10.07 10.07 0 0 0-6.64-2.46c-5.21 0-8.4 3.81-8.4 8.71a8.54 8.54 0 0 0 8.62 8.48c3.64 0 6.75-2.3 7.08-6.13zM77.81 76.66a9.27 9.27 0 0 1-6.08 1.85c-4.12 0-6-2.38-6-5 0-3.14 3.19-4.45 5.68-4.45a6.18 6.18 0 0 1 4 1.34v-1.69c0-1.51-1.15-2.63-3.42-2.63a9.93 9.93 0 0 0-3.84.81L67.37 65a11.42 11.42 0 0 1 4.79-1c4.51 0 5.66 2.13 5.66 5.32zm-2.38-4.09a5.62 5.62 0 0 0-3.67-1.4c-2.32 0-3.47 1.21-3.47 2.55s1.23 2.69 3.61 2.69a6.22 6.22 0 0 0 3.53-1zM81.29 55.16h2.46v22.96h-2.46zM87.18 55.16h2.46v22.96h-2.46zM105.25 76.41c-.79 1-3 2.1-5.8 2.1a6.87 6.87 0 0 1-7.22-7.2c0-4.31 2.89-7.31 7.09-7.31s6.36 3.39 6.36 7v.73H94.73a5.19 5.19 0 0 0 .08.84c.5 2.77 2.72 3.89 5.18 3.89a6 6 0 0 0 4.4-1.71zm-2.07-6.72c-.36-2.1-1.51-3.7-3.92-3.7a4.33 4.33 0 0 0-4.45 3.7zM108.5 78.12V64.34h2.5v2.07c.2-.67 1.37-2.41 3-2.41a4.38 4.38 0 0 1 2.35.64l-1 2.32a2.92 2.92 0 0 0-1.71-.62c-1.6 0-2.55 1.82-2.63 3v8.74zM118.25 85.34l4.62-8.62-5.71-12.38h2.75l4.28 9.72 4.68-9.72h2.77l-10.7 21h-2.69z'/%3E%3C/svg%3E");
  padding-top: 80px;
}
.logo-white {
  background-image: url(/sites/all/themes/si_npg/images/bg/logo-white.png);
  background-image: url("data:image/svg+xml,  %3Csvg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 146 86'%3E%3Ctitle%3EArtboard 1%3C/title%3E%3Cpath d='M1.26 49.62v-21.2h4.4c4.31 0 8.18 1.48 8.18 6.27 0 4.06-2.58 6.89-8.15 6.89H3.94v8zM5.62 39.2C9 39.2 11 37.47 11 34.72s-2-3.89-4.68-3.89H3.94v8.37zM22 50a7.27 7.27 0 1 1 0-14.53A7.27 7.27 0 1 1 22 50m4.76-7.25A4.92 4.92 0 0 0 22 37.58c-2.83 0-4.82 2.18-4.82 5.26A5 5 0 0 0 22 48c2.86 0 4.82-2.1 4.82-5.21M32.09 49.62V35.84h2.46v2.07c.2-.67 1.37-2.41 3-2.41a4.38 4.38 0 0 1 2.35.64l-1 2.32a2.92 2.92 0 0 0-1.71-.62c-1.6 0-2.55 1.82-2.63 3v8.74zM43.56 49.62V37.91h-2.54v-2.04h2.54v-4.79h2.47v4.79h3.39v2.04h-3.39v11.71h-2.47zM51.3 49.62V35.84h2.46v2.07c.2-.67 1.37-2.41 3-2.41a4.38 4.38 0 0 1 2.35.64l-1 2.32a2.92 2.92 0 0 0-1.71-.62c-1.6 0-2.55 1.82-2.63 3v8.74zM71.55 48.16A9.27 9.27 0 0 1 65.48 50c-4.12 0-6-2.38-6-5 0-3.14 3.19-4.45 5.68-4.45a6.18 6.18 0 0 1 4 1.34v-1.68c0-1.51-1.15-2.63-3.42-2.63a9.93 9.93 0 0 0-3.84.81l-.81-1.85a11.42 11.42 0 0 1 4.79-1.06c4.51 0 5.66 2.13 5.66 5.32zm-2.38-4.09a5.62 5.62 0 0 0-3.67-1.4c-2.32 0-3.47 1.21-3.47 2.55s1.23 2.69 3.61 2.69a6.22 6.22 0 0 0 3.53-1zM74.52 31.56a1.68 1.68 0 0 1 1.74-1.74A1.64 1.64 0 0 1 78 31.56a1.66 1.66 0 0 1-1.71 1.71 1.69 1.69 0 0 1-1.74-1.71m.45 4.28h2.49v13.78H75zM82.04 49.62V37.91h-2.55v-2.04h2.55v-4.79h2.46v4.79h3.39v2.04H84.5v11.71h-2.46zM46.72 8.39l.03 15.23h-2.69l.03-21.76L60.1 17.99l-.03-15.57h2.69l-.03 21.95L46.72 8.39zM77.84 22.16A9.27 9.27 0 0 1 71.76 24c-4.12 0-6-2.38-6-5 0-3.14 3.19-4.45 5.68-4.45a6.18 6.18 0 0 1 4 1.34v-1.68c0-1.51-1.15-2.63-3.42-2.63a9.94 9.94 0 0 0-3.84.81l-.81-1.85a11.43 11.43 0 0 1 4.79-1.06c4.51 0 5.66 2.13 5.66 5.32zm-2.38-4.09a5.62 5.62 0 0 0-3.67-1.4c-2.32 0-3.47 1.2-3.47 2.55s1.23 2.69 3.61 2.69a6.22 6.22 0 0 0 3.53-1zM82.03 23.62V11.91h-2.55V9.87h2.55V5.08h2.46v4.79h3.39v2.04h-3.39v11.71h-2.46zM89.35 5.56a1.68 1.68 0 0 1 1.74-1.74 1.64 1.64 0 0 1 1.71 1.74 1.66 1.66 0 0 1-1.71 1.71 1.69 1.69 0 0 1-1.74-1.71m.48 4.28h2.49v13.78h-2.5zM102.39 24a7.27 7.27 0 1 1 7.36-7.25 7.25 7.25 0 0 1-7.36 7.25m4.76-7.25a4.92 4.92 0 0 0-4.76-5.18c-2.83 0-4.82 2.18-4.82 5.26a5 5 0 0 0 4.76 5.17c2.86 0 4.82-2.1 4.82-5.21M121.85 23.62v-7.84c0-2.69-.73-4.06-3.22-4.06a5.3 5.3 0 0 0-3.7 1.74v10.16h-2.46V9.84h2.46v1.46a6.74 6.74 0 0 1 4.54-1.82c3.11 0 4.84 1.57 4.84 5.07v9.07zM138.8 22.16a9.27 9.27 0 0 1-6.08 1.84c-4.12 0-6-2.38-6-5 0-3.14 3.19-4.45 5.68-4.45a6.18 6.18 0 0 1 4 1.34v-1.68c0-1.51-1.15-2.63-3.42-2.63a10 10 0 0 0-3.84.81l-.81-1.85a11.43 11.43 0 0 1 4.79-1.06c4.51 0 5.66 2.13 5.66 5.32zm-2.38-4.09a5.62 5.62 0 0 0-3.67-1.4c-2.32 0-3.47 1.2-3.47 2.55s1.23 2.69 3.61 2.69a6.23 6.23 0 0 0 3.53-1zM142.28.66h2.46v22.96h-2.46zM55.89 70v-2.44h8.48c-.06 7.67-5 11-10.11 11a11 11 0 1 1 0-22 11.53 11.53 0 0 1 8 2.91l-1.4 2a10.07 10.07 0 0 0-6.64-2.46c-5.21 0-8.4 3.81-8.4 8.71a8.54 8.54 0 0 0 8.62 8.48c3.64 0 6.75-2.3 7.08-6.13zM77.81 76.66a9.27 9.27 0 0 1-6.08 1.85c-4.12 0-6-2.38-6-5 0-3.14 3.19-4.45 5.68-4.45a6.18 6.18 0 0 1 4 1.34v-1.69c0-1.51-1.15-2.63-3.42-2.63a9.93 9.93 0 0 0-3.84.81L67.37 65a11.42 11.42 0 0 1 4.79-1c4.51 0 5.66 2.13 5.66 5.32zm-2.38-4.09a5.62 5.62 0 0 0-3.67-1.4c-2.32 0-3.47 1.21-3.47 2.55s1.23 2.69 3.61 2.69a6.22 6.22 0 0 0 3.53-1zM81.29 55.16h2.46v22.96h-2.46zM87.18 55.16h2.46v22.96h-2.46zM105.25 76.41c-.79 1-3 2.1-5.8 2.1a6.87 6.87 0 0 1-7.22-7.2c0-4.31 2.89-7.31 7.09-7.31s6.36 3.39 6.36 7v.73H94.73a5.19 5.19 0 0 0 .08.84c.5 2.77 2.72 3.89 5.18 3.89a6 6 0 0 0 4.4-1.71zm-2.07-6.72c-.36-2.1-1.51-3.7-3.92-3.7a4.33 4.33 0 0 0-4.45 3.7zM108.5 78.12V64.34h2.5v2.07c.2-.67 1.37-2.41 3-2.41a4.38 4.38 0 0 1 2.35.64l-1 2.32a2.92 2.92 0 0 0-1.71-.62c-1.6 0-2.55 1.82-2.63 3v8.74zM118.25 85.34l4.62-8.62-5.71-12.38h2.75l4.28 9.72 4.68-9.72h2.77l-10.7 21h-2.69z' fill='%23fff'/%3E%3C/svg%3E");
}

.social-media {
  position: absolute;
  top: -999px;
  right: 0;
  display: none;
  min-width: 180px;
  z-index: 10;
  opacity: 0;
  border: 1px solid #527081;
  background: white;
  text-align: center;
  *zoom: 1;
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}
.social-media:before,
.social-media:after {
  content: " ";
  display: table;
  line-height: 0;
}
.social-media:after {
  clear: both;
}
.social-media a {
  padding: 8px 5px;
  line-height: 1;
}
.social-media a:hover {
  border: none;
}
.social-media.active {
  top: 32px;
  opacity: 1;
  display: block;
}
.menu .collapsed,
.menu .leaf,
.menu .expanded {
  list-style-image: none;
  list-style-type: none;
}
