* {
  margin: 0;
  padding: 0;
}

section {
  overflow: hidden;
}

.sociales {
  text-align: center;
  margin-bottom: 20px;
}

#timeline {
  width: 100%;
  height: 450px;
  /* overflow: hidden; */
  margin: 0px auto 10px;
  /* 1. inner glow - for dark mode 👇 */
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    /* 2. shadow ring 👇 */ 0 0 0 1px hsla(230, 13%, 9%, 0.075),
    /* 3. multiple soft shadows 👇 */ 0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045), 0 3.5px 6px hsla(230, 13%, 9%, 0.09);
  /* 
  width: 100%;
  height: 100%;
  max-width: 50%;
  max-height: 50%; */
  padding: 0 !important;

  border-radius: 12px;
  overflow: hidden;
}
.timeline-group {
  position: relative;
  background: url("../images/thin-timeline.png") left 45px top 395px repeat-x;
}
.timeline-group::before {
  content: "";
  position: absolute;
  left: 0;
  top: 393px;
  width: 20px;
  height: 5px;
  background-image: linear-gradient(to right, #fff, rgba(248, 248, 248, 0));
}
.timeline-group::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 393px;
  width: 20px;
  height: 5px;
  background: linear-gradient(to left, #fff, rgba(248, 248, 248, 0));
}
.dates-div {
  overflow: hidden;
}
.dates {
  width: 800px;
  height: 60px;
  overflow: hidden;
  /* background: url("../images/dot.gif") left 45px repeat-x; */
}
.dates li {
  list-style: none;
  float: left;
  width: 120px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  background: url("../images/grey-dot.png") center bottom no-repeat;
}
.dates a {
  line-height: 38px;
  /* padding-bottom: 10px; */
}
.dates .selected {
  font-size: 34px;
  font-weight: bold;
}
.dates.bottom-date {
  overflow: visible;
  margin-left: 0 !important;
  display: flex;
  justify-content: space-between;
}
.dates.bottom-date li {
  font-size: 18px;
}
.dates.bottom-date a {
  padding-bottom: 0;
}
.dates.bottom-date a.selected-year {
  border-bottom: solid 2px #758e9b;
}
.dates.timeline-dates {
  margin-top: 3px;
}
.dates.timeline-dates small {
  font-size: 18px;
  display: block;
}
.regions {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.regions .selected {
  font-size: 24px;
}
.regions li {
  float: left;
  margin: 0 30px 0 0;
  padding: 0 0 0 5px;
  height: 20px;
  line-height: 20px;
  list-style: none;
}
.regions li::before {
  /* add the new bullet point */
  display: inline-block;
  content: "";
  -webkit-border-radius: 30%;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  margin-right: 0.6rem;
  background-color: #bdbdbd;
}
.regions li#england-dates::before {
  background-color: #82243f;
}
.regions li#northeast-dates::before {
  background-color: #006992;
}
.regions li#southeast-dates::before {
  background-color: #c8b301;
}
.regions li#caribbean-dates::before {
  background-color: #ee5350;
}

.dates.bottom-date li {
  background: none;
}

#issues {
  width: 66800px !important;
  height: 350px;
  overflow: hidden;
}
#issues b {
  font-size: 2rem;
}
#issues li {
  width: 800px;
  height: 350px;
  list-style: none;
  float: left;
}
#issues li:last-child {
  width: 800px;
}
#issues li:first-child {
  margin-left: 225px;
}
#issues li.selected {
  width: 800px;
  height: 350px;
  list-style: none;
  float: left;
}
#issues .timeline-date {
  font-style: italic;
  font-weight: 500;
}
#issues li.selected img {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
#issues li img {
  float: left;
  margin: 10px 30px 10px 50px;
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); /* IE 6 & 7 */
  zoom: 1;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  -webkit-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
}
#issues li h1 {
  color: #000;
  font-size: 48px;
  margin: 20px 0;
  /* text-shadow: #000 1px 1px 2px; */
}

#grad_left,
#grad_right {
  width: 100px;
  height: 350px;
  position: absolute;
  top: 0;
}
#grad_left {
  left: 0;
  background: url("../images/grad_left.png") repeat-y;
}
#grad_right {
  right: 0;
  background: url("../images/grad_right.png") repeat-y;
}

#next,
#prev {
  position: absolute;
  top: 0;
  font-size: 70px;
  top: 170px;
  width: 50px;
  /* height: 38px; */
  background-position: 0 0;
  background-repeat: no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}
#next:hover,
#prev:hover {
  /* background-position: 0 -76px; */
}
#next {
  right: 0;
  background-image: url("../images/right-arrow-30.png");
 
}
#prev {
  left: 20px;
  background-image: url("../images/left-arrow-30.png");
}
#next.disabled,
#prev.disabled {
  opacity: 0.2;
}

.slider {
  margin-top: 10px;
  padding: 0 40px;
}

.regions-container {
  width: 100%;
  padding: 20px;
  margin-top: 30px;
  background: #eeeeee;
  text-align: center;
  border-radius: 12px;
}
.regions {
  margin-bottom: 20px;
}
.regions li{
  width:100%; 
  margin-left:0;
  transition: .3s linear;
}
.regions li:hover{
  font-weight: bold;
  scale: 1.2;
}
.region-highlight {
  font-weight: bold;
  scale: 1.2;
}
.England.highlight {
  background: url("/images/england-dot.png") center bottom no-repeat;
}
.Northeast.highlight {
  background: url("/images/north-dot.png") center bottom no-repeat;
}
.Southeast.highlight {
  background: url("/images/south-dot.png") center bottom no-repeat;
}
.Caribbean.highlight {
  background: url("/images/caribbean-dot.png") center bottom no-repeat;
}
